<meta name="viewport" content="width=device-width, initial-scale=1">


@-ms-viewport{
  width: device-width;
}
@media only screen and (max-width:1251px){
  .titulo h1{
    font-size: 2.5rem;
  }

  .titulo{
    width: 100%;
    padding: 0 2%;
  }
  .row{
    margin-left: 100px;
    width: 100%;
    height: 100%;
    }
    .imgARE{
      height: 15rem;
      width: auto;
    }
    .equipo p{
      font-size: 0.8rem;
      margin-right: 150px;
      margin-left: 50px;
    }
}
@media only screen and (max-width:1183px){
.main__nav li a{
  font-size: 0.7rem;
}
.titulo{
  width: 80%
}
.titulo h1{
  font-size: 1.8rem;
}
nav{
  width: 100%;
}

}

@media only screen and (max-width:967px){
  .main__nav li a{
    visibility: hidden;
  }
  .menu{
    visibility: visible;
    margin-top: 35px;
    margin-right: 250px;

  }
  .titulo h1{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .titulo{
    width: 75%;
  }
  nav{
    width: 100%;
  }
  .imgARE{
    display: none;
    height: 15rem;
    width: auto;
  }
  .equipo p{
    font-size: 0.8rem;
    margin-right: 150px;
    margin-left: -50px;
  }
}
@media only screen and (max-width:967px){
  .menu{
    visibility: visible;
    margin-top: 35px;
    margin-right: 25px;

  }
  .logo{
    height: 3rem;
    width: auto;
    margin-top: 1rem;
    margin-right: 105px;
    margin-left: -50px;
  }

  .opciones__arriba{
    display: flex;
    justify-content: space-between;
    width: 100%;

  }
  nav{
    display: flex;
    width: 100%;
  }
  .main__nav{
    display: none;
    justify-content: space-around;
  }
}

@media only screen and (max-width:480px){

  .titulo h1{
    font-size: 1rem;
  }
  .titulo{
    width: 60%;
  }
  nav{
    width: 50%;
  }

}
@media only screen and (max-width:250px){

  .titulo{
    width: 55%;
  }

}
@media screen and (max-width: 600px) {
  .main__nav .responsive {position: relative;}
  .main__nav .responsive a .menu {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
  }
  .main__nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
