* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

html,
body {
    background-color: #fff;
    color: #dedede;
    font-family: 'lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* --------HEADINGS----- */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h4,
h5,
h6 {
    color: #000;
    font-weight: 300;
}

h1 {
    font-size: 2.7rem;
    letter-spacing: 3px;
    line-height: 80px;
}

h2 {
    font-size: 2.5rem;
}

h2:after {
    display: block;
    height: 3px;
    background-color: #BF55EC;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

/* HEADER++++++++++++++ */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/henry-co-180108-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
    background-attachment: fixed;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------NAV------ */

.container .desk img,
.container .mob img {
    height: 2.5rem;
    width: auto;
    margin-left: 5%;
}

.container nav.mob {
    width: 100%;
    background: transparent;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
}

.container nav.desk {
    width: 100%;
    background: #000;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

nav.desk ul,
nav.mob ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
    height: 60px;
    margin: 0 0 0 auto;
    text-align: center;
}

nav.desk ul li {
    width: 20%;
    /*float: left;
    */
    /*text-align: end;
    */
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

nav.desk ul li:hover {
    background: #6c6969;
}

nav ul li a {
    color: #eceaea;
    text-decoration: none;
}

.mob,
.hamburger-btn {
    display: none;
}

@media only screen and (max-width: 878px) {
    .container nav.desk {
        display: none;
    }
    .container nav.mob,
    .hamburger-btn {
        display: flex;
        justify-items: center;
        flex-direction: column;
    }
    .container nav.mob ul {
        flex-direction: column;
        margin-top: 15px;
        display: none;
    }
    .container nav.mob ul.active {
        display: flex;
    }
    .container nav.mob ul li {
        display: flex;
        justify-content: flex-start;
        margin-right: 65px;
        background: transparent;
        margin-left: 45%;
    }
    .container nav.mob ul li a{
        color: #fff;

    } 
    .container .mob img {
        width: 15%;
    }
    header {
        margin-top: 0;
    }
    .hamburger-btn {
        position: relative;
    }
    .hamburger-btn .fa-bars,
    .hamburger-btn .fa-times {
        position: fixed;
        right: 35px;
        top: 25px;
        font-size: 35px;
        color: #fff;
        cursor: pointer;
    }
    .mob li {
        text-align: center;
        cursor: pointer;
        line-height: 1.5rem;
    }
}

/* .opciones__arriba {
    display: flex;
    margin-left: 0;
    padding-top: 15px;
    justify-content: center;
}

.logo {
    height: 4rem;
    width: auto;
    margin-top: 1rem;
}

.main__nav {
    display: flex;
    margin-left: 10%;
    overflow: hidden;
    /* justify-content: flex-end; */

/* }

.main__nav li {
    list-style: none;
    margin: 30px 20px;
}

.main__nav li a {
    text-decoration: none;
    color: #ccc;
}

.main__nav li a:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #ebebeb;
    z-index: 9999;
}

.sticky .main__nav li a:link,
.sticky .main__nav li a:visited {
    padding: 15px 0;
    color: #555;
}

.sticky .logo {
    display: none;
}

.sticky .logo-black {
    display: block;
}

.sticky .main__nav {
    margin-top: 18px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

.menu {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    margin: 5px 0 0 0;
    padding-right: 10px;
    visibility: hidden;
} */

*/
/* +++++++++TITULO+++++++ */

.titulo {
    align-items: center;
    position: absolute;
    width: 2140px;
    top: 40%;
    left: 20%;
}

/* ++++++++++++SECCION__ARE++++ */

.seccion__ARE {
    text-align: center;
    color: #333;
    margin-bottom: 80px;
}

.seccion__ARE h2 {
    margin-bottom: 80px;
}

.equipo {
    display: flex;
}

.imgARE {
    height: 350px;
    width: auto;
    border-radius: 5%;
}

.equipo p {
    margin-left: 200px;
    text-align: justify;
    line-height: 35px;
    align-self: center;
}

/* +++++++PROMOCIONES+++++++ */

.seccion__DO {
    background-color: #6c6969;
}

.seccion__DO h2 {
    color: #eceaea;
    text-align: center;
}

.promociones {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.promociones img {
    height: 350px;
    width: auto;
}

/* +++++++PHOTO+++++++ */

.photo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/bayamon.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* +++++++GALLERY+++++++ */

.gallery {
    padding: 0;
    margin: 0;
}

.gal {
    list-style: none;
    display: flex;
    width: 100%;
}

.gal li {
    width: 25%;
    height: 100%;
}

.galimg img {
    position: relative;
    float: left;
    width: 100%;
    height: 300px;
    ;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.rowe {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 0px;
}

/* Create four equal columns that sits next to each other */

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
    height: 2385px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* +++++++CONTACTUS+++++++ */

.contact h2 {
    text-align: center;
    color: #000;
}

.name {
    margin-top: 50px;
}

.name label {
    color: #000;
}

.name input {
    width: 10rem;
    text-align: center;
    margin-left: 2rem;
    height: 1.5rem;
}

.email {
    margin-top: 20px;
}

.email label {
    color: #000;
}

.email input {
    width: 10rem;
    text-align: center;
    margin-left: 4.5rem;
    height: 1.5rem;
}

textarea {
    margin-top: 2rem;
    padding: 2px;
}

.button input {
    margin-top: 2rem;
    color: #BF55EC;
    border: 2px solid #BF55EC;
    border-radius: 200px;
    padding: 0.7rem 1.5rem;
    background-color: transparent;
    font-size: 2rem;
}

.button input:hover {
    color: #fff;
    background-color: #BF55EC;
    cursor: pointer;
}

.contact__us {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.us {
    line-height: 1.5rem;
    background-color: #fbf6f6;
    padding: 4rem;
    border-radius: 10px;
}

/* +++++++FOOTER+++++++ */

footer {
    background-color: #323232;
    padding: 50px 0;
}

.pie {
    display: flex;
}

.pie ul {
    display: flex;
    margin-left: auto;
}

.pie ul li {
    list-style: none;
    padding-right: 25px;
}

.social {
    padding-top: 100px;
    padding-bottom: 100px;
}

.social ul {
    display: flex;
    justify-content: center;
}

.social ul li {
    list-style: none;
    margin-left: 15px;
}

.social ul li i {
    font-size: 150%;
}

.social ul li .fa-facebook-square:hover {
    font-size: 150%;
    color: #3b5998;
}

.social ul li .fa-instagram:hover {
    font-size: 150%;
    color: #517fa4;
}

.social ul li .fa-twitter-square:hover {
    font-size: 150%;
    color: #55acee;
}

.social ul li .fa-google-plus-square:hover {
    font-size: 150%;
    color: #dc4e41;
}

.social li a {
    text-decoration: none;
    color: #b9b9b9;
}

.opciones__abajo:after {
    display: block;
    height: 3px;
    background-color: rgba(191, 85, 236, .65);
    content: " ";
    width: 700px;
    margin: 0 auto;
    margin-top: 40px;
}